.tablature-container {
  float: left;
  width: 100%;
  overflow-x: auto;
}

.tablature {
  display: inline-flex;
  outline: none;
}

.tablature .chord {
  float: left;
  min-width: 30px;
  text-align: center;
}

.tablature .bar {
  width: 1px;
  margin: 0px 8px;
  background: black;
}

.tablature .fret {
  padding: 2px;
  cursor: pointer;
}

.tablature .fret.is-focused {
  background: gray;
  width: 50px;
  text-decoration: underline;
}

.tablature .tuning {
  margin-right: 20px;
  font-weight: 700;
}

.tablature .blink {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}